<!DOCTYPE html>
<html>
<head>

  <title>Webhook</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render 'shared/padiact_script' %>
</body>

</html>
